html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.temp {
  border: 2px solid black;
  border-radius: 1cap;
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 800;
  margin: auto;
}

.katex-html {
  display: none;
}

a {
  text-decoration: none;
  outline: none;
  color: #000;
}
